#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    color: #000000;
    border: none;
    padding: 5px 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #ff5733;
}


form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

label {
    color: #ccc;
}


.track-list {
    width: 100%;
    max-width: 80vw;
    background-color: #282828;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 20px 0;
}

.track-list h2 {
    text-align: center;
    color: #ff4500;
}



.track-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.track-list li {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

span {
  margin: 5px;
  color: #ff4500;
}

.track-list li:last-child {
    border-bottom: none;
}


.track-details {
    width: 100%;
    max-width: 600px;
    background-color: #282828;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 20px 0;
    text-align: left;
}

.track-details h2 {
    color: #ff4500;
}

strong {
    color: #ffab23;
}

.track-list .button-container {
  display: flex;
  justify-content: center; 
  gap: 5px; 
  width: 100%; 
  margin-top: 10px;
}